#cursor{
	position: absolute;
	top: 0px;
	left: 0px;
}
#alphabet{
	position: absolute;
	top: 0px;
	left: 0px;
}
#inputbox{
font-size: 30px;
bottom: 150px;
position: fixed;
width: 60%;
left: 20%;
}
